<div class="sample">SAMPLE</div>
<div id="readyContainer" #readyContainer class="ready-container" [hidden]="readyContainerHidden">
  <div style="position: fixed;bottom: 0px; right: 0px;left: 0px;z-index: 1030;background-color: black">
    OCast/Angular IO minimum reference receiver
  </div>
</div>

<div id="playerContainer" #playerContainer class="player-container" [hidden]="playerContainerHidden">
  <video #media class="media"></video>
  <div #state class="state" [@visibilityVolume]="visibilityPause">
    <img src="./assets/img/pause.png" class="img-pause">  Pause
  </div>
  <div #mute class="mute" [@visibilityMute]="visibilityMute">
    <i class="fas fa-volume-off fa-sm"
       style="display: inline-block;vertical-align: middle;margin: 5px;"></i> Mute
  </div>
  <div #buffering class="buffering" [@visibilityBuffering]="visibilityBuffering">
    <div class="spinner vertical-aligned">
      <div class="rect1"></div>
      <div class="rect2"></div>
      <div class="rect3"></div>
      <div class="rect4"></div>
      <div class="rect5"></div>
    </div>
  </div>
  <div id="volume" class="volume" [@visibilityVolume]="visibilityVolume">
    <div id="volume-track" class="volume-track">
      <div id="volume-bar" class="volume-bar" [style.width]="volume+'%'"></div>
    </div>
  </div>
  <div id="osd" class="osd" [@visibilityOsd]="visibilityOsd">
    <div class="logo">
      <img [src]="logo"/>
    </div>
    <div class="metadata">
      <div id="title" class="title"></div>
      <div id="subtitle" class="subtitle"></div>

      <div class="progress">
        <div id="time-current" class="progress-time">{{currentTime}}</div>
        <div id="progress-track" class="progress-track">
          <div id="progress-bar" class="progress-bar" [style.width]="playbackPositionPercent+'%'"></div>
        </div>
        <div id="time-total" class="progress-time">{{timeTotal}}</div>
      </div>
    </div>
  </div>
</div>

<div id="imageContainer" #imageContainer class="image-container" [hidden]="imageContainerHidden">
  <img #image  class="img"/>
</div>

<div id="errorContainer" #errorContainer class="error-container" [hidden]="errorContainerHidden">
  <h2 id="message-title"></h2>
  <p id="message-description"></p>
</div>
