@font-face {
  font-family: HelvNeue55_W1G;
  src: url('../fonts/HelvNeue55_W1G.woff2');
}

html, body {
    background-color: #F2F2F2;
    font-family: 'HelvNeue55_W1G','Roboto', 'OpenSans', Georgia, Serif;
    width: 100%;
    height: 100%;
  }
  div .volume_controls {
    position: absolute;
    top: 20%;
    width: 40px;
    flex-wrap: wrap;
    background: rgba(247, 247, 247, 0.2);
    height: 100px;
    right: 50px;
    opacity: 0;
  }

  div .volume_controls > .volume-bar {
    transition: all .3s;
    background: #ff6600;
    width : 100%;
    height: 50%;
    position: absolute;
    bottom: 0;
  }

  div .progressbar_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-right: 10px;
    flex-basis: 100%;
  }
  .sbprogress-time {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: left;
    width: 71px;
    height: 20px;
    padding-top: 4px;
    color: whitesmoke;
    margin: 0 2%
  }
  .sbprogress-track {
    width: 80%;
    height: 3px;
    background: whitesmoke;
  }
  .sbprogress-bar {
    background: #ff6600;
    height: 100%;
    width: 0%;
  }
  .right {
    text-align: right;
  }
  .left{
    text-align: left;
  }

  #play_btn {
    text-align: center;
    bottom: 5%;
    left: 50%;
    right: 50%;
    position: absolute;
  }

  .info {
    max-width: 100%;
    word-wrap:break-word;
  }
  .info > p {
    color: whitesmoke;
    display: inline-block;
    position: fixed;
  }

  .info > .title {
    font-size: 3vw;
    margin-top: 2vw;
  }
  .info > .subtitle {
    font-size: 1.5vw;
    margin-top: 6vw;
  }

  .player {
  position: relative;
  font-size: 0;
  overflow: hidden;
  }

  .player:-webkit-full-screen {
  max-width: none;
  width: 100%;
  }

  .player_video {
    width: 100%;
    height: 100%;
    z-index:0;
  }

  .thumbnail {
    margin: 2% 2%;
  }

  .player_button {
  background:none;
  border:0;
  line-height:1;
  color: whitesmoke;
  text-align: center;
  outline:0;
  padding: 0;
  cursor:pointer;
  }

  .player_button:focus {
  border-color: #ffc600;
  }

  .player_slider {
  width:10px;
  height:30px;
  }

  .player_controls {
    display: block;
    position: absolute;
    bottom:0;
    width: 100%;
    transition:all .3s;
    flex-wrap:wrap;
    background:rgba(122, 122, 122, 0.2);
    height: 35%;
    visibility: visible;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
  }

  .player .player_controls {
  transform: translateY(0);
  }

  .player_controls > * {
  flex:1;
  }

  /** Responsive **/

  @media screen and (min-width: 1000px) and (max-width: 3000px) {
    .thumbnail {
      width: 75px;
      height: 75px;
    }

    .player_button{
      font-size: 40px;
    }
    div.sbprogress-time {
      font-size: 22px;
    }
  }

  @media screen and (min-width: 700px) and (max-width: 1000px) {
    .thumbnail {
      width: 50px;
      height: 50px;
    }

    .player_button{
      font-size: 30px;
    }
    div.sbprogress-time {
      font-size: 20px;
    }
  }

  @media screen and (min-width: 500px) and (max-width: 700px) {
    .thumbnail {
      width: 30px;
      height: 30px;
    }

    .player_button{
      font-size: 24px;
    }
    div.sbprogress-time {
      font-size: 16px;
    }
  }

  @media screen and (min-width: 0px) and (max-width: 500px) {
    .player_button{
      font-size: 16px;
    }
    div.sbprogress-time {
      font-size: 14px;
    }
    .thumbnail {
      width: 30px;
      height: 30px;
    }
  }

  @media screen and (min-width: 1200px) {

  }
